<div id="registration-form">
  <form>
      <div *ngFor="let form of formDetails">
        <div [ngSwitch]="form.formType">
          <div *ngSwitchCase="'text'">
            <label> {{form.formLabel}} </label>
            <input type="{{form.formType}}"/>
          </div>
          <div *ngSwitchCase="'dropdown'">
              <label> {{form.formLabel}} </label>
              <select>
                  <option *ngFor="let opt of form.options">
                    {{opt}}
                  </option>
              </select>
          </div>
        </div>
      </div>
  </form>
</div>