<div id="registration-form">

  <div class="form-element">
      <label> Name: 
         <input type="text" [formControl]="name">
     </label>
   </div>
 
  <div class="form-element">
    <label> Age: 
      <input type="text" [formControl]="age">
    </label>
  </div>
 
  <div class="form-element">
    <label> Gender: 
      <input type="text" [formControl]="gender">
    </label>
  </div>
 
  <div class="form-element">
    <label> Description: 
       <input type="text" [formControl]="description">
    </label>
  </div>
  
</div>