#side-bar {
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    .hamburger {
        width: 30px;
        left: 10px;
        position: relative;
        &-line {
            display: block;
            height: 3px;
            background: #000;
            margin: 10px 0;
        }
    }
    &.active {
        background: lightblue;
    }

    .menu {
        left:0; 
        display: none;
        height: 100%;
        &.active {
            display: block;
        }
        &-items {
            list-style: none;
            padding: 0;
            margin: 0;
            display : flex;
            flex-flow: column nowrap;
            height: 100%;
            justify-content: center;
            &-item {
                text-align: center;
                border: 1px solid transparent;
                padding: 20px;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3493e4), to(#76ccf5));
                flex: 0 1 5%
            }
        }
    }
}