<div id="side-bar" [ngClass]="{'active': showSideBar}">
  <div class="hamburger" (mouseover)=toggleSideBar() (mouseout)=toggleSideBar()>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
  <nav class="menu" [ngClass]="{'active': showSideBar}">
    <ul class="menu-items">
      <li class="menu-items-item">Home</li>
      <li class="menu-items-item">Profile</li>
      <li class="menu-items-item">logout</li>
    </ul>
  </nav>
</div>