<div id="side-bar" [ngClass]="{'active': showSideBar}">
  <div class="hamburger" (click)=toggleSideBar()>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
  <nav class="menu" [ngClass]="{'active': showSideBar}">
    <ul class="menu-items">
      <a routerLink='/door'><li (click)=toggleSideBar() class="menu-items-item">Door</li></a>
      <a routerLink='/main-door'><li (click)=toggleSideBar() class="menu-items-item">Main Door</li></a>
      <a routerLink='/registration-form' [queryParams]="{userId : '1'}"><li (click)=toggleSideBar() class="menu-items-item"> Registration Form</li></a>
    </ul>
  </nav>
</div>