<p-table [value]="requests" class="table">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor = "let header of headers">
        {{header.label | uppercase}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-request>
    <tr>
      <td *ngFor = "let header of headers">
        {{ request[header.label] }}
      </td>
      <td>
        <a routerLink="{{request['id']}}/edit"><button class="button"> Edit </button> </a>
      </td>
    </tr>
  </ng-template>
</p-table>